<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>IECC Node Configuration</title>
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript">
    jQuery(function ($) {
      var IECCNodes = [];
      //$("#lblNumberOfIECC").html("0");
      if($('#innerContainer').width() > $('.ipListContainer').width()){
        $('.ipListContainer').css("padding-right", "15px");
      }
      $("#progress").hide();
      $("#message").hide();
      $('button').on('click', function() {
        document.getElementById("btnApply").disabled = true;
        $("#progress").show();
        var numberOfIp = $('#txtNumberOfIp').val();
        var networkInterface = $( "#ddlNetworkInterface option:selected" ).text();
        $("#message").hide();
          $.ajax({
            type: 'POST',
            url: '/createIP',
            data: { numberOfIp : numberOfIp, networkInterface: networkInterface},
            success: function(resultData) {
              console.log(resultData);
              $("#progress").hide();
              $("#message").show();
              $("#message").removeClass("error").addClass("success");
              $("#message").html("Nodes have been successfully configured.");
              $("#lblNumberOfIECC").html(resultData.IpList.length);
              CreateIECCNodeTable(resultData.IpList);
              document.getElementById("btnApply").disabled = false;
            },
            error: function(XMLHttpRequest, textStatus, errorThrown) {
                document.getElementById("btnApply").disabled = false;
                $("#progress").hide();
                $("#message").show();
                $("#message").removeClass("success").addClass("error");
                if(errorThrown == "")
                  $("#message").html("IP Confuguration error.");
                else
                  $("#message").html(errorThrown);
            }
        });
      });
      function CreateIECCNodeTable(data){
        $('.ipListContainer').css("padding-right", "");
        $(".ipList").empty();
        var tr;
        for (var i = 0; i < data.length; i++) {
            tr = $('<tr/>');
            tr.append("<td> IECC Node " + (i+1) +  "</td>");
            tr.append('<td><a href="http://' + data[i] + ":8081/node" +'" target="_blank">' + data[i] + ':8081/node </a></td>');
            $('.ipList').append(tr);
        }
        if($('#innerContainer').width() > $('.ipListContainer').width()){
          $('.ipListContainer').css("padding-right", "15px");
        }
      }
    });
    </script>
    <style>
    button {
    margin-top:10px;
    background-color: #e7e7e7;
    color: black;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    border-radius: 5px;
    border :2px solid gray;
    }
    button:hover {
      box-shadow: 0 5px 15px 0 rgba(0,0,0,0.24), 0 5px 15px 0 rgba(0,0,0,0.19);
    }
    button:disabled {
      box-shadow:none;
      opacity: 0.6;
      cursor: not-allowed;
    }
    .success, .error {
			border: 1px solid;
			margin: 10px 0px;
			padding: 15px 10px 15px 50px;
			background-repeat: no-repeat;
			background-position: 10px center;
      display: inline-block;
      padding:6px;
      border-radius: 2px;
      font-size: 16px;
      font-weight: normal;
		}
		.success {
			color: #4F8A10;
			background-color: #DFF2BF;
		}
		.error{
			color: #D8000C;
			background-color: #FFBABA;
		}
    .ipList {
      border-collapse: collapse;
      width: 100%;
    }
    .ipList th, .ipList td {
        text-align: left;
        padding: 10px;
        white-space: nowrap;
    }
    .ipList tr:nth-child(even){
      background-color: #f2f2f2
    }
    .ipListContainer{
      float: left;
      display: inline-block;
      max-height: 460px;
      border: 1px solid gray;
      border-radius: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
      margin-left: 5px;
      min-width: 340px;
    }
    </style>
  </head>
  <body style="font-family: Verdana; color:#7b7b7b">
    <div id="header" style="Width: calc(100% - 100px); padding: 50px;background-color: #F6F6F6; border-bottom: 2px solid #dddddd; background-image: url("../img/top_bg.png"); ">
      <span style="font-size: 25px; font-weight: bold;">IECC Simulator Node Manager</span>
    </div>
    <div id="mainContainer" style="width:calc(100% - 100px); padding: 50px; padding-top: 20px; font-size: 18px; font-weight: bold; color: black">
      <table cellpadding="5">
        <tr style="padding-top:5px">
          <td>Number of Node(s) </td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><input id="txtNumberOfIp" type="number" value="10" min="1" max="200" style="width: 50px; padding: 8px; border-radius:5px; border : 1px solid gray; font-size:15px"></input></td>
        </tr>
        <tr>
          <td>Network Interface</td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><select id="ddlNetworkInterface" style="width: 150px; padding: 8px; border-radius:5px; font-size:15px; border : 1px solid gray">
            <%
              for (var j = 0; j < NetwoekInterfaceList.length; j++){
              %><option value="<%= NetwoekInterfaceList[j]%>"><%= NetwoekInterfaceList[j] %><%
              }
            %>
          </select></td>
        </tr>
        <tr>
          <td colspan="3">
            <button style="float:left" id="btnApply">Apply</button>
            <div id="progress"style="display: table-cell;float:left; text-align: center;">
              <img style="height:50px; margin-Left:5px; margin-top: 7px" src="../img/progress.gif"></img>
              <div style="padding-top: 25px;float: Right;font-size: 15px;font-weight: normal;">working...</div>
            </div>
          </td>
        </tr>
        <tr><td colspan="3"><div id="message" class="success"></div></td></tr>
      </table>
      <div style="overflow-y:auto;overflow-x:hidden;" class="ipListContainer">
      <div id="innerContainer" style="float:left;min-width: 340px;">
      <div style="padding:10px;background-color: #f2f2f2">Number Of IECC Nodes :
        <label id="lblNumberOfIECC"><%if(alreadyCreatedNodes.length > 0)%><span><%= alreadyCreatedNodes.length %> </span> %>  </label></div>
        <table class="ipList">
          <%
            if(alreadyCreatedNodes.length > 0){
            for (var j = 0; j < alreadyCreatedNodes.length; j++){
            %>
            <tr>
              <td> IECC Node <%= j+1 %></td>
              <td><a href="http://<%= alreadyCreatedNodes[j] %>:8081/node" target="_blank"><%= alreadyCreatedNodes[j] %>:8081/node</a></td>
            </tr>
            <%
          }}
          %>
        </table>
      </div>
      </div>
    </div>
  </body>
</html>
