<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>IECC Node</title>
    <script src="../js/jquery.min.js"></script>
    <script type="text/javascript">
    jQuery(function ($) {
      if($('.ipList').width() > $('.nodeInfoList').width()){
        $('.nodeInfoList').css("padding-right", "15px");
      }
    });
    </script>
    <style>
    .ipList {
      border-collapse: collapse;
      width: 100%;
    }
    .ipList th, .ipList td {
        text-align: left;
        padding: 10px;
        white-space: nowrap;
    }
    .ipList tr:nth-child(even){
      background-color: #f2f2f2
    }
    .nodeInfoList{
      display:flex;
      flex-flow: column;
      float:left;
      max-height: 600px;
      border: 1px solid gray;
      border-radius: 5px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .apiListContainder {
      padding:10px;
      clear: both !important;
    }
    </style>
  </head>
  <body style="font-family: Verdana; color:#7b7b7b">
    <div id="header" style="Width: calc(100% - 100px); padding: 50px;background-color: #F6F6F6; border-bottom: 2px solid #dddddd; background-image: url("../img/top_bg.png"); ">
      <span style="font-size: 25px; font-weight: bold;">IECC Node</span>
    </div>
    <div id="mainContainer" style="width:calc(100% - 100px); padding: 20px; padding-top: 20px; font-size: 18px; font-weight: bold; color: black">
      <div style="overflow-y:auto;overflow-x:hidden" class="nodeInfoList">
        <div id="innerContainer" style="float:left;display: table;">
          <div style="text-align: center; padding:10px;background-color: #f2f2f2">IECC Node Details</div>
            <table class="ipList">
              <%
                Object.keys(nodeInfo).forEach(function(key){
                %>
                <tr>
                  <td style="font-size:17px;text-transform:capitalize;"> <%= key.replace('iecc', 'IECC').split('_').join(' '); %></td>
                  <td style="font-weight:normal"><%= nodeInfo[key] %></td>
                </tr>
                <%
              });
              %>
            </table>
        </div>
      </div>
      <div class="apiListContainder">
        <div style="margin-top:20px">API List</div>
        <div style="padding-top:10px"><a href="http://<%= nodeIP %>/api/getStaticInfo" target="_blank"><%= nodeIP %>/api/getStaticInfo </a></div>
        <div style="padding-top:10px"><a href="http://<%= nodeIP %>/api/getStaticInfoXML" target="_blank"><%= nodeIP %>/api/getStaticInfoXML </a></div>
        <div style="padding-top:10px"><a href="http://<%= nodeIP %>/api/getDynamicInfo/2017-05-03 11:40:46" target="_blank"><%= nodeIP %>/api/getDynamicInfo/2017-05-03 11:40:46</a></div>
		<div style="padding-top:10px"><a href="http://<%= nodeIP %>/api/getMotorCurrentFile" target="_blank"><%= nodeIP %>/api/getMotorCurrentFile </a></div>
		<div style="padding-top:10px"><a href="http://<%= nodeIP %>/api/getEventLogs/10/100" target="_blank"><%= nodeIP %>/api/getEventLogs/10/100</a></div>
		<div style="padding-top:10px"><a href="http://<%= nodeIP %>/api/getMaintenanceLogs/10/100" target="_blank"><%= nodeIP %>/api/getMaintenanceLogs/10/100 </a></div>
		<div style="padding-top:10px"><a href="http://<%= nodeIP %>/api/getSwopLogs/10/100" target="_blank"><%= nodeIP %>/api/getSwopLogs/10/100 </a></div>
    </div>
    </div>
  </body>
</html>